.daoCard {
  width: 347px !important;
  height: 100% !important;
  margin-right: 24px;
}

.nftCard {
  width: 276px !important;
  margin-right: 24px;
}

.createSwiper {
  margin-left: 1px !important;
}
