.NavContainer {
  height: 70px;
  background-color: #ffffff;
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: #ebe1e1;
}

.menuIconContainer div {
  width: 20px;
  height: 2px;
  background-color: #192434;
  margin-bottom: 5px;
}

.menuIconContainer:hover div {
  background-color: #07d5ce;
}

.createProjectButtonConatiner {
  width: 168px;
  height: 40px;
  background: linear-gradient(180deg, #07d5ce 0%, #0ea09c 100%);
  border-radius: 20px;
  color: #ffffff;
  border: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-right: 15px;
}

.walletLoginButtonConatiner {
  width: 168px;
  height: 40px;
  background: #192434;
  border-radius: 20px;
  color: #ffffff;
  border: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.createProjectButtonConatiner:hover {
  background: #192434;
}

.walletLoginButtonConatiner:hover {
  background: linear-gradient(180deg, #07d5ce 0%, #0ea09c 100%);
}

.user-dropdown-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.user-dropdown-item:hover {
  background-color: #8d2ccb;
  fill: white;
  cursor: pointer;
}

/* For mobile view  */
@media only screen and (max-width: 600px) {
  .walletLoginButtonConatiner {
    width: 130px;
    height: 30px;
    background: #192434;
    border-radius: 20px;
    color: #ffffff;
    border: 0px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
  }
}

/* logo */
.logo::after {
  height: 24px;
  top: 5px;
  content: "";
  right: 0;
  border-radius: 20px;
  position: absolute;
  border-color: #ffffff;
  border: 5px solid currentColor;
}

@media only screen and (min-width: 1024px) {
  .logo {
    padding-right: 70px;
  }
  .logo::after {
    width: 68px;
  }
}

@media only screen and (max-width: 1023px) {
  .logo {
    padding-right: 50px;
  }
  .logo::after {
    width: 48px;
    height: 18px;
  }
}

/* btn-fund */

.btn-fund {
  width: 114px;
  height: 30px;
  background: rgba(255, 168, 0, 0.2);
  border-radius: 5px;
  padding: 1px;
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffa800;
  letter-spacing: 0.2px;
}

.btn-fund:hover {
  color: #fff;
}

.btn-fund span {
  align-items: center;
  background: rgba(255, 168, 0, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.btn-fund:hover span {
  background: rgba(255, 168, 0, 1);
}

.wallet-info {
  background: rgba(70, 166, 255, 0.2);
  color: #46a6ff;
  border-radius: 0.5rem;
  height: 40px;
  width: 150px;
  padding: 20px;
}
