.NavContainer {
  height: 70px;
  background-color: #ffffff;
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: #ebe1e1;
}

.menuIconContainer div {
  width: 20px;
  height: 2px;
  background-color: #192434;
  margin-bottom: 5px;
}

.menuIconContainer:hover div {
  background-color: #07d5ce;
}

.createProjectButtonConatiner {
  width: 168px;
  height: 40px;
  background: linear-gradient(180deg, #07d5ce 0%, #0ea09c 100%);
  border-radius: 20px;
  color: #ffffff;
  border: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-right: 15px;
}

.walletLoginButtonConatiner {
  width: 168px;
  height: 40px;
  background: #192434;
  border-radius: 20px;
  color: #ffffff;
  border: 0px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.createProjectButtonConatiner:hover {
  background: #192434;
}

.walletLoginButtonConatiner:hover {
  background: linear-gradient(180deg, #07d5ce 0%, #0ea09c 100%);
}

.user-dropdown-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.user-dropdown-item:hover {
  background-color: #8d2ccb;
  fill: white;
  cursor: pointer;
}

/* For mobile view  */
@media only screen and (max-width: 600px) {
  .walletLoginButtonConatiner {
    width: 130px;
    height: 30px;
    background: #192434;
    border-radius: 20px;
    color: #ffffff;
    border: 0px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
  }
}

/* logo */
.logo {
  padding-right: 75px;
  position: relative;
}

.logo::after {
  height: 24px;
  width: 68px;
  right: 0;
  top: 4px;
  content: '';
  border-radius: 20px;
  position: absolute;
  border-color: #ffffff;
  border: 5px solid currentColor;
}

/* search */
.search-fld {
  width: 556px;
  height: 40px;
  color: #fff;
  max-width: 100%;
  padding-left: 40px;
  border-radius: 12px;
  background: #353535;
  border: 1px solid #353535;
  font-size: 18px;
  font-family: 'Satoshi-Regular';
}

.search-fld:focus-visible {
  padding-left: 40px;
}

.search-fld::placeholder {
  color: #D0D0D0;
}

/* wallet dropdown */
.walletbox {
  width: 212px;
  background: #161423;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 20px;
}

.walletbox h3 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.walletbox h4 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.walletbox h5 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


.walletbox a.btn-gradient-outline {
  width: 145px;
  height: 32px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1rem;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: linear-gradient(128.96deg, #DF9B5D 17.26%, #9A5AFF 93.04%);
  border-radius: 8px;
  margin: 20px auto;
}

.walletbox .link-logout {
  font-family: 'Mulish';
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  display: block;
  padding: 20px 0;
  display: flex;
  align-items: center;
}