.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  /* background: white; 
  width: 70.6%;*/
  /* height: auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0px 0px 6px #ffffff; 
  border-radius: 8px;*/
  max-height: 90vh;
  overflow: auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.torusIcon {
  height: 24px;
  width: 28px;
}
.metamaskIcon {
  height: 24px;
  width: 26px;
}
