.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 3px 0px 6px #00000024;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.sidebarContainer{
  margin-left: 29px;
  margin-top: 10px;
}


.sidenav .closebtn {
  font-size: 36px;
  margin-left: 29px;
  color: #192434;
}
.closebtn:hover {
  color: #07d5ce;
}
.sidebarCardContainer {
  background: #ffffff;
  box-shadow: 0px 0px 6px #00000024;
  border: 1px solid #e2e2e3;
  border-radius: 8px;
  width: 116px;
  height: 116px;
  text-align: center;
}
.sidebarCardContainer .createProject img {
  width: 61px;
  height: 57px;
  margin: 15px 26px 0px 27px;
}
.sidebarCardContainer .allProjects img{
  width: 92px;
  height: 59px;
  margin: 14px 11px 0px 11px;
}
.sidebarCardContainer .meetUp img {
  width: 55px;
  height: 50px;
  margin: 18px 29px 0px 31px;
}
.sidebarCardContainer .createProject .sidebarCardTitle {
  margin: 0px 29px 10px 29px;
}
.sidebarCardContainer .allProjects .sidebarCardTitle {
  margin: 0px 12px 14px 12px;
}
.sidebarCardContainer .meetUp .sidebarCardTitle {
  margin: 0px 29px 14px 29px;
}
.sidebarCardTitle {
  color: #192434;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.sidebarCardContainer:hover{
  background-color: #0AB4AF;
 
}
.sidebarCardContainer:hover .sidebarCardTitle{
  color: white;
}
.sidebarDevider{
  height: 1px;
  background-color: #E2E2E3;
  margin: 30px 0px;
}
.sidebarLinksContainer{
  margin-left: 29px;
}
.sidebarLinksContainer a{
  text-decoration: none;
  color: #192434;
  font-size: 14px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  margin-bottom: 24px;
  display: block;
}