.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.buttonGroup button {
  height: 54px;
  flex-grow: 1;
  margin: 0px 3px;
  background-color: #cccccc;
  color: #ffffff;
  border: 0px;
  padding-top: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.buttonGroup .active {
  background-color: #192434;
}
.buttonGroup button:hover {
  background-color: #192434;
}
.tabDivider {
  height: 4px;
  background-color: #192434;
  margin-bottom: 100px;
}
