.buttonContainer button {
  border-radius: 4px;
}
.backButton,
.nextButton {
  background-color: #0ab4af;
  color: white;
  padding: 8px 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}

.backButton:hover,
.nextButton:hover,
.saveDraft:hover {
  background: #192434;
}
.buttonContainer .saveDraft {
  display: block;
  margin: auto;
}
.saveDraft {
  background-color: #b9ccd5;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 200px;
  height: 54px;
}
.buttonContainer {
  margin-top: 42px;
  margin-bottom: 80px;
}
.cardContainer {
  max-width: 600px;
  /* border: 1px solid black; */
  display: block;
  margin: 0px auto;
  padding-top: 50px;
}
.dragAndDropLable {
  color: #8b9199;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.stepTitleName {
  text-align: right;
  color: #e2e2e3;
  font-size: 90px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: -30px;
}
@media only screen and (max-width: 767px) {
  .stepTitleName {
    font-size: 40px;
    margin-top: -10px;
  }
  .cardContainer {
    padding-top: 0px;
  }
  .backButton,
  .nextButton {
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
    height: 34px;
    width: 102px;
    font-size: 14px;
  }
  .buttonContainer {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .saveDraft {
    width: 160px;
    height: 44px;
  }
}
.draftModalText {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.selectProjectTypeCardHeaderRedient {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.selectTypeCardBoxShadow {
  box-shadow: 0px 0px 8px #0000004d;
}
