@import "tailwindcss/components";
@layer components {
  .btn {
    @apply rounded-lg
        mb-2
        font-black 
        ease-in-out
        duration-300;
  }
  .btn-primary {
    @apply text-white 
        text-lg
        focus:ring-4 
        focus:outline-none 
        focus:ring-blue-300 
        dark:focus:ring-blue-800;
    background: linear-gradient(128.96deg, #df9b5d 17.26%, #9a5aff 93.04%);
  }
  .btn-primary:hover {
    background: linear-gradient(128.96deg, #9a5aff 17.26%, #df9b5d 93.04%);
  }
  .btn-primary:focus {
    @apply ring-0;
  }

  .btn-outline-primary {
    @apply text-primary-900
        border border-primary-900
        shadow
        shadow-primary-600   
        font-black 
        text-base
        hover:text-white
        hover:bg-primary-900;
  }

  .btn-lg {
    @apply px-8 
        py-4;
  }

  .btn-sm {
    @apply px-4 
        py-2;
  }

  /* btn-outline-primary-gradient */

  .btn-outline-primary-gradient {
    @apply rounded-md
        relative
        z-10
        font-semibold
        text-sm
        tracking-tighter
        text-secondary-900
        min-h-[28px]
        min-w-[120px]
        hover:text-white;
    padding: 1px;
    background-image: linear-gradient(
      128.96deg,
      #df9b5d 17.26%,
      #9a5aff 93.04%
    );
  }

  .btn-outline-primary-gradient span {
    @apply items-center
        bg-dark-background
        rounded-md
        flex
        justify-center
        w-full
        h-full
        transition
        duration-300 
        leading-7
        hover:bg-transparent;
  }

  .btn-primary-outline-gradient {
    width: 114px;
    height: 30px;
    background-image: linear-gradient(
      128.96deg,
      #df9b5d 17.26%,
      #9a5aff 93.04%
    );
    border-radius: 8px;
    padding: 1px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #df9b5d;
  }

  .btn-primary-outline-gradient:hover {
    color: #fff;
  }

  .btn-primary-outline-gradient span {
    align-items: center;
    background: #161423;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }

  .btn-primary-outline-gradient:hover span {
    background: transparent;
  }
}
