@import "tailwindcss/components";
@layer components {
  .btn {
    @apply rounded-lg
        font-black 
        ease-in-out
        duration-300;
  }
  .btn-primary {
    @apply text-white 
        text-lg
        focus:ring-4 
        focus:outline-none 
        focus:ring-blue-300 
        dark:focus:ring-blue-800;
    background: linear-gradient(128.96deg, #df9b5d 17.26%, #9a5aff 93.04%);
  }
  .btn-primary:hover {
    background: linear-gradient(128.96deg, #9a5aff 17.26%, #df9b5d 93.04%);
  }
  .btn-primary:focus {
    @apply ring-0;
  }

  .btn-outline-primary {
    @apply text-primary-900
        border border-primary-900
        shadow
        shadow-primary-600   
        font-black 
        text-base
        hover:text-white
        hover:bg-primary-900;
  }

  .btn-lg {
    @apply px-8 
        py-4;
  }

  .btn-sm {
    @apply px-4 
        py-2;
  }

  /* btn-outline-primary-gradient */

  .btn-outline-primary-gradient {
    @apply rounded-md
        relative
        z-10
        font-black
        text-lg
        tracking-tighter
        text-secondary-900
        min-h-[28px]
        min-w-[120px]
        hover:text-white;
    padding: 1px;
    background-image: linear-gradient(
      128.96deg,
      #df9b5d 17.26%,
      #9a5aff 93.04%
    );
  }

  .btn-outline-primary-gradient span {
    @apply items-center
        bg-dark-background
        rounded-md
        flex
        justify-center
        w-full
        h-full
        transition
        duration-300 
        leading-7
        hover:bg-transparent;
    }

    .btn-outline-primary-gradient.btn-md { 
        height: 44px;
     }


     /* form field */

     .input-fld {
        @apply py-1
        px-3
        w-[512px]
        max-w-full
        h-[42px]
        rounded-md
        bg-black-shade-800
        text-white
        mb-4;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.03em;
     }
     .textarea-fld {
        @apply  py-3
        px-3
        w-[512px]
        max-w-full
        h-[128px]
        rounded-md
        bg-black-shade-800
        text-white
        mb-4;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.03em;
     }

     select.input-fld { 
         appearance: none;
         border-color: transparent;
     }


}
