

$primary : #9A5AFF;
$secondary: #DF9B5D;
$danger : #C82727;
$success: #27C854;
$info : #4A59E1;
$dark : #161423;

// gradient

$bg-gradient: linear-gradient(128.96deg, #DF9B5D 17.26%, #9A5AFF 93.04%);

