@import url("assets/fonts/WEB/css/satoshi.css");

/* @tailwind base;
@tailwind components; */
@tailwind utilities;
@import "./assets/css/layer-base/typography.css";
@import "./assets/css/layer-components/component.css";

body {
  margin: 0 !important;
  padding: 0;
}

/* .btn-primary {
  background: linear-gradient(128.96deg, #df9b5d 17.26%, #9a5aff 93.04%);
  color: #ffffff;
  border-radius: 8px;
  min-height: 40px;
  min-width: 100px;
  padding: 0 10px;
  font-size: medium;
  font-weight: 500;
} */

.cp {
  cursor: pointer;
  transition: 0.3s;
}

.cp:hover {
  opacity: 60%;
}

.bg {
  background-color: black;
}

.accordion-button:not(.collapsed) {
  color: black;
  font-weight: 500;
  font-size: 20px;
  background-color: #f6f6f7;
  box-shadow: inset 0 -1px 0 #e5e7eb;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.stepper-active .stepper-head-icon {
  background-color: #7d33a4;
}

.stepper-failed .stepper-head-icon {
  background-color: #d31b0c;
}

.stepper-head-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9499ae;
  border-radius: 100%;
  font-size: 0.875rem;
  width: 1.7rem;
  height: 1.7rem;
}

.stepper-vertical .stepper-step:not(:last-child):after {
  position: absolute;
  left: 2.25rem;
  height: calc(100% - 2.45rem);
  top: 3rem;
  width: 1px;
  margin-top: 0.5rem;
  content: "";
  background-color: white;
}

.infinity-scroll {
  overflow: hidden !important;
}
